@import "../../../node_modules/antd/dist/antd.css";
/* .site-layout-content {
  background: #fff;
  padding: 24px;
  min-height: 280px; 
 } */

.header {
  display: flex;
  width: 100%;
  color: rgba(0, 0, 0, 0.65);
  background-color: #001529;
}

.site-layout .site-layout-background {
  background: #fff;
}
[data-theme="dark"] .site-layout .site-layout-background {
  background: #141414;
}

.layout {
  width: 100%;
  height: 100%;
}
.logo {
  color: #fff;
  display: flex;
  width: 200px;
  align-items: center;
  /* margin: auto; */
  font-size: 30px;
}

.name{
  width: 100%;
  text-align: right;
  color: #fff;
  font-size: 15px;
}

.button{
 text-align: center; 
}
